
    <div class="row row-sm-offset">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label class="form-control-label" id="lab_comp_acao">AÇÃO</label>
                <input min="1" max="6" type="text" class="form-control" name="codigo_cadastro" id="codigo_cadastro">
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="form-group">
                <label class="form-control-label">DESCRIÇÃO</label>
                <input type="text" class="form-control" name="descricao_cadastro" id="descricao_cadastro">
            </div>
        </div>
      </div>
      <div><button type="submit" class="btn btn-primary">CADASTRAR</button></div>
      <br><br>
