<form action="/DeleteCadastro" method="post" >
         <input type="hidden"  class="form-control" name="codigo_produto"  value="<%=data[i].codigo_cadastro%>">
         <button type="submit" type="button" class="btn btn-danger">
         <span class="glyphicon glyphicon-remove"></span>
</button>
</form>
