<!DOCTYPE html>
<html>
<head>

  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <% include ../form/f_cadastro.ejs %>

<div class="table-responsive" >
  <table class="table table-striped">
                  <tr>
                      <th >ID</th>
                      <th>AÇÃO</th>
                      <th>DESCRIÇÃO</th>

                  </tr>
                  <% if(data.length){

                   for(var i = 0;i < data.length;i++) { %>

                  <tr>
                      <td><%=(i+1)%></td>
                      <td><%=data[i].codigo_cadastro%></td>
                      <td><%=data[i].descricao_cadastro%></td>
                  </tr>
              <% }

               }else{ %>
                   <tr>
                      <td colspan="3">sem cadastros</td>
                   </tr>
              <% } %>
            </table>
</div>
</div>
</body>
</html>
