<!DOCTYPE html>
<html>
<head>

  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


<div class="container">
        <% include ../form/f_cadastro.ejs %>
</div>


</body>
</html>
