<!DOCTYPE html>
<html>
<head>

  <% include ../partials/header.ejs %>
</head>

<body>

  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"> <span class="glyphicon glyphicon-home"></span> </a>
        </li>
        <li>
          <a href="/cadastro"><span class="glyphicon glyphicon-pencil"></span> CADASTRA AÇÕES</a>
        </li>
        <li>
          <a href="/compra"><span class="glyphicon glyphicon-shopping-cart"></span> COMPRAR AÇÕES</a>
        </li>
        <li>
          <a href="/venda"><span class="glyphicon glyphicon-usd"></span> VENDER AÇÕES</a>
        </li>
        <li >
          <a href="/relatorio"><span class="glyphicon glyphicon-file"></span> RELATÓRIO</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href=" https://github.com/LeloGualda/INVEST_LAB.git"><span class="glyphicon glyphicon-book"></span>  GITHUB</a>
        </li>
      </ul>
    </div>
  </nav>



<div class="container">

<img   style="margin-top:10px;margin-left:250px;" src="/logo1.jpg"  height="500"  width="500"/>
</div>


</body>
</html>
